*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Orbitron", sans-serif;
}
.bg img{
    display: block;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}
.frame{
    position: absolute;
    top: 0px;
    z-index: 2;
    height: 100vh;
    width: 100vw;
    backdrop-filter: blur(6px);
    /* backdrop-filter: blur(16px); */
}
.content{
    position: absolute;
    top: 0px;
    z-index: 4;
    height: 100vh;
    width: 100vw;
}
.main{
    width: 70vw;
    margin: auto;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    height: 100%;
    overflow: scroll;
}
.main > div{
    flex-shrink: 0;
    /* border: 2px solid red; */
    width: 280px;
    height: 200px;
    border-radius: 20px;
    backdrop-filter: blur(16px) brightness(110%);
    padding: 20px;
}

#ct{
    width: 500px;
    flex-basis: auto;
}

#cttitle{
    font-weight: 800;
    font-size: 2.5rem;

}
.title{
    color: white;
    font-size: 1.8rem;
    font-weight: 700;
    text-align: center;
}

.description{
    color: white;
    font-size: 1.3rem;
    font-weight: 400;
    text-align: center;
    padding: 30px;
}

#gmt{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 300;
}

@media screen and (width <= 1000px){
    .main{
        width: 95vw;
        margin: auto;
        justify-content: center;
    }
}
@media screen and (width <= 790px){
    .main > div{
        flex-grow: 1;
        flex-basis: 0;
    }
    #ct{
        flex-grow: 1;
        flex-basis: 0;
    }
}